// Variables
$fontPrimary: "Roboto", sans-serif;
$fontSecondary: "Alfa Slab One", cursive;
$black: #333333;
$darkgray: #666666;
$medgray: #999999;
$lightgray: #cccccc;
$white: #ffffff;

// Fonts
@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap");

// Body
body {
  font-family: $fontPrimary;
  background-color: $lightgray;
  color: $black;
  padding: 60px 0;
}
